@model ElotePosMvc.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1 class="display-4 text-danger">Eliminar Producto</h1>

<h3>¿Estás seguro de que quieres eliminar este producto?</h3>
<div class="alert alert-danger">
    <strong>¡Esta acción no se puede deshacer!</strong>
</div>

<div>
    <hr />
    <dl class="row fs-5">
        <dt class="col-sm-3">
            Nombre:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-3">
            Precio:
        </dt>
        <dd class="col-sm-9">
            @Model.PrecioVenta.ToString("C")
        </dd>
    </dl>

    <form asp-action="Eliminar" method="post">
        <input type="hidden" asp-for="IdProducto" />

        <button type="submit" class="btn btn-danger btn-lg">Sí, Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>